DB_HOST=inertia_template-postgres
POSTGRES_USER=inertia_template
POSTGRES_DB=inertia_template_production
POSTGRES_PASSWORD=postgres
REDIS_URL=redis://127.0.0.1:6379/0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAMAL_REGISTRY_PASSWORD=
RESEND_API_KEY=
